
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tambah" href="/tabs/tambah">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tambah</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="draft" href="/tabs/draft">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Draft</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tambah_draft" href="/tabs/tambah_draft">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tambah Draft</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
